<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.mapper.OrderMapper">
	<insert id = "insertOrder" parameterType="Order">
		<selectKey keyProperty="orderId" resultType="String" order="BEFORE">
			SELECT SEQ_ORDER.nextval AS orderId FROM DUAL
		</selectKey>
		INSERT INTO ORDERLIST(ORDERID, ORDERDATE, SHIPADDRESS, ADDRESS, TOTALPRICE, CARDTYPE, CARDNUMBER, EXPIRYDATE, USERNAME, USERID, ITEMID, QUANTITY)
			VALUES(#{orderId}, SYSDATE, #{shipAddress}, #{address}, #{totalPrice}, #{cardType}, #{cardNumber}, #{expireDate}, #{userName}, #{userId}, #{itemId}, #{quantity})
	</insert>
	
	<select id = "selectOrderByUserId" parameterType="String" resultType="Order">
		SELECT 
			ORDERID, 
			TO_CHAR(ORDERDATE, 'YYYY-MM-DD HH:MM:DD') AS ORDERDATE, 
			SHIPADDRESS, 
			ADDRESS, 
			TOTALPRICE, 
			CARDTYPE, 
			CARDNUMBER, 
			EXPIRYDATE, 
			USERNAME, 
			USERID, 
			ITEMID
		FROM ORDERLIST
		WHERE USERID = #{userId}
		ORDER BY ORDERDATE DESC
	</select>
	
	<select id = "selectOrderByOrderDate" parameterType="com.example.sproute.domain.Order" resultType ="Order">
		SELECT 
			ORDERID, 
			ORDERDATE, 
			SHIPADDRESS, 
			ADDRESS, 
			TOTALPRICE, 
			CARDTYPE, 
			CARDNUMBER, 
			EXPIRYDATE, 
			USERNAME, 
			USERID, 
			ITEMID
		FROM ORDERLIST
		WHERE ORDERDATE = #{orderDate}, USERID = #{userId}
	</select>
	
	<delete id = "deleteOrder" parameterType="String">
		DELETE FROM ORDERLIST 
		WHERE ORDERID = #{orderId}
	</delete>
	
	<select id="selectItemIdByOrderId" parameterType="String" resultType="Order">
		SELECT ITEMID, QUANTITY
		FROM ORDERLIST
		WHERE ORDERID = #{orderId}
	</select>
	
</mapper>